<h1 class="slide-right">The fairy land of Isabela</h1>
<section class="pictures_of_isabela">
  <h2> All the pictures</h2>
  <div class="all_albums">
    <div class="album_1">
    <a><%= link_to "Isabela's artwork", artworks_path %></a>
    </div>
    <div class="album_1">
      <a><%= link_to 'Photos of Isabela Growing Up', photos_path %></a>
    </div>
  </div>

</section>



