/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');




body {
  background-color: lightyellow ;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
*, *:before, *:after {
  margin:0;
  //font-family: "Lato", sans-serif;
  font-size: 1rem;
  box-sizing: inherit;
  font-family: 'Dancing Script', cursive;
}

//main heading
h1 {
  font-size: 4rem;
  padding: 4rem 0 1rem 0;
  margin-bottom: 1rem;
  font-family: 'Dancing Script', cursive;
}
h2 {
  padding: 2rem 0 ;
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}


a {
  font-size: 2rem;
  text-decoration: none;
  margin: 1vw 0;
}




//main body

.pictures_of_isabela {
  background-color: RGBA(212,146,138,0.43);
  padding: 15rem 0;
  margin: 0 3vw;

}


//albums 1


.pictures_of_isabela .all_albums {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: RGBA(88,192,172,0.43);
  margin: 1rem 3rem;
  padding: 2rem;

}

.pictures_of_isabela h2 {
  color: white;
  text-shadow: 1px 1px black;
}


.all_albums .album_1 .link {
  font-size: 2.4rem;
  padding: 2vw;
}

.album_1 .yr{
   flex-wrap: wrap;
}

.photo_by_yr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3vw 1vw;
}

.photo_by_yr .yr {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color:RGBA(215,104,163,0.54);
  border-radius: 5%;
  transition: background 0.5s ease-in, transform 1s .2s ease-out;


}

.photo_by_yr .yr:hover {
  -webkit-box-shadow: 36px 14px 33px 1px rgba(0,0,0,0.86);
  -moz-box-shadow: 36px 14px 33px 1px rgba(0,0,0,0.86);
  box-shadow: 36px 14px 33px 1px rgba(0,0,0,0.86);
  transform: scaleX(1.15) scaleY(1.1) scaleZ(3) rotateY(25deg) rotateZ(360deg);
}

.yr h2 {
  font-size: 1.5rem;
  color: honeydew;

}

.album_1 h1 {
  padding: 5rem;

}

.album_1 a {
  margin: 1vw 0 5vw 0;
}

 .img {
  width: 20vw;
   padding: 1rem;
   border-radius: 10% 35%;

}



footer {
  color: rgb(82, 62, 62);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  padding: 1vw 1rem;
  border: 0.3rem solid transparent;
  background-color:lightyellow;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}




.slide-right {
  -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-6-18 15:20:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-90vw);
    transform: translateX(-90vw);
  }
  100% {
    -webkit-transform: translateX(2vw);
    transform: translateX(2vw);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-90vw);
    transform: translateX(-90vw);
  }
  100% {
    -webkit-transform: translateX(2vw);
    transform: translateX(2vw);
  }
}

@media screen and (max-width: 1000px) {
  .photo_by_yr {
    display: flex;
    flex-direction: column;
  }

  .photo_by_yr  .yr {
    margin: 2vw 33vw 0.5vw 34vw;
    padding: 2vw 0.5vw 2.5vw 0.5vw;
  }

  .photo_by_yr  .yr img {
    width: 22vw;
    padding: 0;
  }

}


